.featureList {
    display: flex;
    gap: 50px;

    margin-top: 40px;
    margin-bottom: 183px;
}

.item {
    & .title {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.16;

        margin-bottom: 18px;
    }

    & img {
        float: left;
        margin-right: 8px;
        clear: both;
    }
}

// Tablet
@media screen and (max-width: 1366px) {
    .featureList {
        flex-direction: column;

        & p {
            text-align: justify;
        }
    }
}

// Small Tablet
@media screen and (max-width: 768px) {
    .featureList {
        margin-top: 40px;

        gap: 32px;

        & .title {
            margin-bottom: 14px;
        }

        & p {
            text-align: justify;
        }
    }
}

// Mobile
@media screen and (max-width: 480px) {
    .featureList {
        margin-top: 40px;

        gap: 36px;

        & .title {
            margin-bottom: 14px;
        }

        & p {
            text-align: justify;
        }
    }
}
