.footer {
    max-height: 79px;
    border-top: 1px solid #dedede;

    & p {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 129px;

        color: #3e3e3e;
    }
}
